@import url("normalize.css");

html {
    font-family: Arial, Helvetica, "DejaVu Sans", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    margin: 0;
}

.domain {
    display: none;
}

.tick line {
    stroke: #C0C0BB;
}

.tick text {
    fill: #8E8883;
    font-size: 20pt;
    font-family: sans-serif;
}

.axis-label {
    fill: #635F5D;
    font-size: 40pt;
    font-family: sans-serif;
}
